@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Raleway:wght@200&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
body > section{
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
section{
    position: absolute;
    height: 100vh;
    width: 100%;
    
}
.register_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;

}
h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}
.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border:none;
    outline: none;
    margin: 1em 0;
}
.control.success input{
    background-color: rgb(198,239,206);
}
.control.error input{
    background-color: rgb(255,199,206);
}
.control .error{
    color: #ff0000;
    font-weight: 700;
    margin-bottom: 15px;
}
.control input[type="submit"]{
    background: midnightblue;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .8;
    transition: opacity .3 ease;
}
.control input[type="submit"]:hover{
    opacity: 1;
}
.link{
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    transition: opacity .3s ease;
}
.link a:hover{
    opacity: 1;
}
.back{
    width: 1200px;
    height: 700px;
    overflow: hidden;
    top: 1%;
    left: 0;
    transform: translate(15%,1%);
    position: absolute;
    border-radius: 20px;
}
.girl{
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    margin-top: 255px;
    margin-left: 950px;
    animation: girl 8s ease-in-out infinite;
}
@keyframes girl {
    20%, 40%, 60%, 80%, 100%{
        transform-origin: top center;
    }
    20%{
       transform: rotate(15deg);
    }
    40%{
        transform: rotate(-10deg);
    }
    60%{
        transform: rotate(5deg);
    }
    80%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

