@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Raleway:wght@200&family=Roboto:wght@100&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #16181d;
}
#register_container{
    width:45em;
    margin: auto;
    height:30em;
    margin-top: 10em;
    background-color: #c1c1b7;
}
.register_header{
    padding-left: 2em;
    padding-top: 0.25em;

}
.register_content{
    padding-left: 7.5em;
}
.register_content > h1{
    margin-bottom: 0;
}
.register_link{
    color: #0849fc;
    
}
.register_link:visited{
    color: purple;
}
form {
  display: grid;

  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4);
  gap: 1em;

  width: 65em;
  height:15em;
  margin: auto;
  padding-top: 3em;

  margin-right: 15em;




  --field-color: #f6dd51;
  --field-focus: #f9dc75;
  --field-border: #fcce02;
  
  --button-color: #64f174;
  --button-border: #64f174;

  --error-color: #f1f1a7;
  --error-border: #eef393;

}

.username   { grid-column: 1; grid-row: 1; font-size: medium;}
.password    { grid-column: 1; grid-row: 2; font-size: medium;}
.email    { grid-column: 1; grid-row: 3; font-size: medium; }
.submit{
    grid-column: 1; 
    grid-row: 4;
    border: var(--button-color);
    background-color: var(--button-color);
    font-size: medium;
}



input{
  padding: 1em;
  border-radius: 4px;

  border: 1px solid var(--field-border);

  background-color: var(--field-color);
}

input:invalid {
  background-color: var(--error-color);
  border: 1px solid var(--error-border);
}

.username:focus, .password:focus, .email:focus{
  background-color: var(--field-focus);
  border: 1px solid var(--field-border);
  outline: none;
}
@media (max-width: 52em) {
    form {
      margin: 1em;
      width: auto;
  
      grid-template-columns: auto;
      grid-template-rows: repeat(9, auto) 10em auto;
    }
  
  
    .username { grid-column: 1; grid-row: 1; }
    .email    { grid-column: 1; grid-row: 2; }
    .password  { grid-column: 1; grid-row: 3; }
    .submit { grid-column: 1; grid-row: 4;}
}


