
body > header {
  background-color: #046dd5;
  color: white;

  padding: 1em;
}


body > header a {
  color: white;
  text-decoration: none;  
}

body > header #signup a:first-child {
  border-right: 1px solid white;
}

body > header #signup {
  margin-top: 1em;
}

body > header #signup a {
  padding: 0 1em;
}

body > header #signup a:first-child {
  padding-left: 0;
}



/* fonts */ 

@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Lora", serif;
  line-height: 1.4em;
}
